<%- include('header.ejs') %>
<script>
    alert("Error or the someone has use this password!") 
</script>
<h1 >Error!</h1>
    You may  <a href="JavaScript:window.history.back()">signup again</a> !
<%- include('footer.ejs') %>