<%- include('header.ejs') %>
    <div class="container">
        <p >You signup success please login again</p>
        <a href="/login"><button class="input">Login</button></a>
    </div>
<%- include('footer.ejs') %>