<%- include('header.ejs') %>
    <div class="login">
        <p >You signup success please ligin again</p>
        <a href="/login"><button class="input">Login</button></a>
    </div>
<%- include('footer.ejs') %>